@model quizfun.Models.Pregunta

@{
    ViewBag.Title = "DeletePregunta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeletePregunta</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tema.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tema.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alt1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alt1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alt2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alt2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alt3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alt3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alt4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alt4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respuesta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respuesta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "IndexPregunta")
        </div>
    }
</div>
