<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top" style="background-color:#c3e72f" >
        <div class="container">
            <div class="navbar-header" style="font-size:20px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">asdas</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("QUIZ FUN", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="background-color:#c3e72f">
                <ul class="nav navbar-nav" >
                    <li style="background-color:#a0b742" >@Html.ActionLink("Cuenta", "Index", "Home", new { area = "" }, null)</li>
                    <li style="background-color:#828f47">@Html.ActionLink("Cursos", "Inde", "Inde", new { area = "" }, null)</li>
                    <li style="background-color:#a0b742">@Html.ActionLink("Social", "log2", "log2", new { area = "" }, null)</li>
                </ul>

            </div>
        </div>
    </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/robot")
    @RenderSection("scripts", required: false)
</body>
</html>
